/* Write your CSS here */
.capitalsBg {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.capitalContainer {
  background-color: #f8fafc;
  border-radius: 20px;
  width: 90%;
  max-width: 700px;
  padding: 30px;
  margin: auto;
}
.heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  color: #323f4b;
  margin-bottom: 20px;
}
.description {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  color: #1e293b;
  margin-bottom: 20px;
}
.questionContainer {
  display: flex;
  align-items: center;
}
.selectedItem {
  padding: 5px;
  border: 0.5px solid #cbd2d9;
  border-radius: 10px;
  font-weight: bold;
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
  margin-right: 10px;
}
.countryName {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  color: #1e293b;
}
@media screen and (min-width: 768px) {
  .capitalContainer {
    max-width: 900px;
    padding: 45px;
  }
  .heading {
    font-size: 40px;
  }
}
